<h1>Bonjour ! Veuillez confirmer votre Email s'il-vous-plaît !</h1>

<p>
    Cliquez sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bienvenue parmi nous !
</p>
