<a href="#" class="free-card box-shadow border-radius {{ card_classes | default('') }}">
    <div class="card">
        <div class="tof">
            <img id="photo" class="photo" src="{{ asset('build/images/Davy_icon.png') }}">
        </div>
        <div class="card-body">
            <h5 class="card-title"><div style="vertical-align: inherit;">FULLSTACK</div></h5>
            <p class="card-text"><div style="vertical-align: inherit; size-text">Spécialisé dans Symfony & React. 10 ans d'expérience.</div></p>
{#            <a href="#" class="btn btn-primary"><div style="vertical-align: inherit;">En savoir plus</div></a>#}
        </div>
    </div>
</a>
