{% extends 'base.html.twig' %}

{% block title %}Portfolio {{ freelance.user.firstname }} {{ freelance.user.lastname }}{% endblock %}

{% block main %}

          <ul class="gallery">
              <li><img src="{{ asset('uploads/portfolio_free/' ~ freelance.portfolio) }}" alt="Portfolio du free"></li>
          </ul>

{% endblock %}
