{% extends 'base.html.twig' %}

{% block title %}New Discussing{% endblock %}

{% block body %}
    <h1>Create new Discussing</h1>

    {{ include('discussing/_form.html.twig') }}

{#    <a href="{{ path('app_discussing_index') }}">back to list</a>#}
{% endblock %}
