*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
}

body {
    background-image: url(../images/SVG/background.svg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "poppinslight", sans-serif;
    display : flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-left: 100px;
}

.logoFreeBif {
    max-width: 20%;
    margin-left: 10px;
}

.Nav1 {
    background-color: #FFFFFF;
}

.Nav2 {
    background-color: #99805C;

    ul {
        display: flex;
    }

        li{
            font-family: "poppinslight", sans-serif;
            color: #FFFFFF;
            padding: 5px 10px;
        }
}

.container {
    flex-grow: 1;
}

footer {
    background-color: #FFFFFF;
    font-family: "poppinslight", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;

    .footerp {
        margin: 0;
    }
}
