{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}


    {{ include('message/_form.html.twig') }}

{#    <a href="{{ path('app_message_index') }}">back to list</a>#}
{% endblock %}
