<section class="Nav1">
    <div>
        <img class="logoFreeBif" src={{ asset('build/images/logoFreeBif.svg') }}>
    </div>
</section>
<nav class="Nav2">
    <ul class="Navlinks">
        <li>Graphisme</li>
        <li>Développement web</li>
        <li>Photo</li>
        <li>Vidéo</li>
    </ul>
</nav>