<nav>
    <section class="Nav1">
        <div>
            <img class="logoFreeBif" src={{ asset('build/images/logoFreeBif.svg') }}>
        </div>
    </section>
    <section class="Nav2">
        <ul class="Navlinks">
            <li>Home</li>
            <li>Graphisme</li>
            <li>Développement web</li>
            <li>Photo</li>
            <li>Vidéo</li>
        </ul>
    </section>
</nav>