<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FreeBif</title>
    <link rel="icon" href="./assets/images/Davy_icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <section>
            <div>
                <img src="./assets/images/logoFreeBif.svg">
            </div>
        </section>
        <nav>
            <li>
                <ul></ul>
                <ul></ul>
                <ul></ul>
                <ul></ul>
            </li>
        </nav>
    </header>

